<a href="https://colab.research.google.com/github/alaeddine-hash/GL-MoyenneApp/blob/master/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://archive.apache.org/dist/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz

In [3]:
!tar xf spark-3.3.1-bin-hadoop3.tgz

In [4]:
!pip install -q findspark

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [6]:
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.getOrCreate()

In [9]:
df = spark.read.format("csv").load("/content/daily-weather (1) (1).csv", header = True, inferSchema=True)

In [10]:
df.columns

['number',
 'air_pressure_9am',
 'air_temp_9am',
 'avg_wind_direction_9am',
 'avg_wind_speed_9am',
 'max_wind_direction_9am',
 'max_wind_speed_9am',
 'rain_accumulation_9am',
 'rain_duration_9am',
 'relative_humidity_9am',
 'relative_humidity_3pm']

In [13]:

# Call the correct method to print the schema
df.printSchema()

root
 |-- number: integer (nullable = true)
 |-- air_pressure_9am: double (nullable = true)
 |-- air_temp_9am: double (nullable = true)
 |-- avg_wind_direction_9am: double (nullable = true)
 |-- avg_wind_speed_9am: double (nullable = true)
 |-- max_wind_direction_9am: double (nullable = true)
 |-- max_wind_speed_9am: double (nullable = true)
 |-- rain_accumulation_9am: double (nullable = true)
 |-- rain_duration_9am: double (nullable = true)
 |-- relative_humidity_9am: double (nullable = true)
 |-- relative_humidity_3pm: double (nullable = true)

In [14]:
df.head(5)

[Row(number=0, air_pressure_9am=918.0600000000087, air_temp_9am=74.82200000000041, avg_wind_direction_9am=271.1, avg_wind_speed_9am=2.080354199999768, max_wind_direction_9am=295.39999999999986, max_wind_speed_9am=2.863283199999908, rain_accumulation_9am=0.0, rain_duration_9am=0.0, relative_humidity_9am=42.42000000000046, relative_humidity_3pm=36.160000000000494),
 Row(number=1, air_pressure_9am=917.3476881177097, air_temp_9am=71.40384263106537, avg_wind_direction_9am=101.93517935618371, avg_wind_speed_9am=2.4430092157340217, max_wind_direction_9am=140.47154847112498, max_wind_speed_9am=3.5333236016106238, rain_accumulation_9am=0.0, rain_duration_9am=0.0, relative_humidity_9am=24.328697291802207, relative_humidity_3pm=19.4265967985621),
 Row(number=2, air_pressure_9am=923.0400000000084, air_temp_9am=60.637999999998776, avg_wind_direction_9am=51.000000000000036, avg_wind_speed_9am=17.067852199999727, max_wind_direction_9am=63.6999999999999, max_wind_speed_9am=22.100967200000003, rain_accumulation_9am=0.0, rain_duration_9am=20.0, relative_humidity_9am=8.900000000000047, relative_humidity_3pm=14.460000000000045),
 Row(number=3, air_pressure_9am=920.5027511759195, air_temp_9am=70.13889486830053, avg_wind_direction_9am=198.83213271746368, avg_wind_speed_9am=4.337363056162703, max_wind_direction_9am=211.20334124325618, max_wind_speed_9am=5.190045360219378, rain_accumulation_9am=0.0, rain_duration_9am=0.0, relative_humidity_9am=12.189101868764444, relative_humidity_3pm=12.742547353761848),
 Row(number=4, air_pressure_9am=921.1600000000036, air_temp_9am=44.29400000000284, avg_wind_direction_9am=277.8, avg_wind_speed_9am=1.8566601999998955, max_wind_direction_9am=136.49999999999991, max_wind_speed_9am=2.863283199999954, rain_accumulation_9am=8.899999999998613, rain_duration_9am=14730.0, relative_humidity_9am=92.41000000000044, relative_humidity_3pm=76.74000000000046)]

In [15]:
df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
number,1095,547.0,316.24357700987383,0,1094
air_pressure_9am,1092,918.8825513138094,3.184161180386833,907.9900000000024,929.3200000000012
air_temp_9am,1090,64.93300141287072,11.175514003175877,36.752000000000685,98.90599999999992
avg_wind_direction_9am,1091,142.2355107005759,69.13785928889189,15.500000000000046,343.4
avg_wind_speed_9am,1092,5.50828424225493,4.5528134655317185,0.69345139999974,23.554978199999763
max_wind_direction_9am,1092,148.95351796516923,67.23801294602953,28.89999999999991,312.19999999999993
max_wind_speed_9am,1091,7.019513529175272,5.598209170780958,1.1855782000000479,29.84077959999996
rain_accumulation_9am,1089,0.20307895225211126,1.5939521253574893,0.0,24.01999999999907
rain_duration_9am,1092,294.1080522756142,1598.0787786601481,0.0,17704.0
relative_humidity_9am,1095,34.24140205923536,25.472066802250055,6.090000000001012,92.6200000000002
relative_humidity_3pm,1095,35.34472714825898,22.524079453587273,5.3000000000006855,92.2500000000003

In [17]:
Df1 = df.withColumn("ratio", df['rain_duration_9am']/ df['rain_accumulation_9am'])

In [21]:
Df1.select('ratio').show()

+------------------+
|             ratio|
+------------------+
|              null|
|              null|
|              null|
|              null|
|1655.0561797755388|
| 8499.999999814461|
|              null|
|              null|
|              null|
|              null|
|              null|
| 3218.181818182084|
|              null|
|              null|
|              null|
|              null|
|              null|
|              null|
|              null|
|              null|
+------------------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import mean
from pyspark.sql.functions import mean, max, min, count

In [36]:
# Calculate the mean, max, and min of rain_duration_9am
# Calculate the mean, max, and min of rain_duration_9am
mean_rain_duration_9am = Df1.select(mean("rain_duration_9am")).first()[0]
max_rain_duration_9am = Df1.select(max("rain_duration_9am")).first()[0]
min_rain_duration_9am = Df1.select(min("rain_duration_9am")).first()[0]

# Count the occurrences where air_temp_9am > 70
count_air_temp_9h_gt_70 = df.filter(df["air_temp_9am"] > 70).count()

# Print the results
print("Mean rain_duration_9am: ", mean_rain_duration_9am)
print("Max rain_duration_9am: ", max_rain_duration_9am)
print("Min rain_duration_9am: ", min_rain_duration_9am)
print("Count of air_temp_9am > 70: ", count_air_temp_9h_gt_70)

Mean rain_duration_9am:  294.1080522756142
Max rain_duration_9am:  17704.0
Min rain_duration_9am:  0.0
Count of air_temp_9am > 70:  384

In [30]:
df.select('rain_duration_9am').head()

Row(rain_duration_9am=0.0)

In [37]:
df2=df.na.drop(subset=['air_pressure_9am'])

In [39]:
# Calculate the correlation between rain_accumulation_9am and rain_duration_9am
correlation = Df1.corr("rain_accumulation_9am", "rain_duration_9am")
print(correlation)

0.733796878331099

In [40]:
from pyspark.sql.functions import avg

In [41]:
imputeDf = df

In [46]:
for x in imputeDf.columns:
  meanValue = imputeDf.agg(avg(x)).first()[0]
  print(x, meanValue)
  imputeDf = imputeDf.na.fill(meanValue, [x])

number 547.0
air_pressure_9am 918.8825513138094
air_temp_9am 64.93300141287072
avg_wind_direction_9am 142.2355107005759
avg_wind_speed_9am 5.50828424225493
max_wind_direction_9am 148.95351796516923
max_wind_speed_9am 7.019513529175272
rain_accumulation_9am 0.20307895225211126
rain_duration_9am 294.1080522756142
relative_humidity_9am 34.24140205923536
relative_humidity_3pm 35.34472714825898